.App {
  text-align: center;
}

.welcome {
        font-family: 'Tangerine', serif;
        font-size: 5.9vw;
      }

.name {
        font-family: 'Tangerine', serif;
        text-shadow: #aaa;
        font-size: 5.9vw;
        text-shadow: 3px 3px 3px #aaa;
      }

.desc {
        font-family: 'Fjalla One', sans-serif;
        font-size: 2.5vw;
        text-align: center;
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vw;
}
p {
  font-size: 2.5vw;
}
hp {
  font-size: 2vw;
}
np {
  max-font-size: 8px;
  font-size: 2vw;
  height: 10vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #bada55;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
